@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* Navbar */
.navbar{
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  /* max-width: 900px; */
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1{
  color: #b90e41;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.3rem;
}

.content{
  max-width: 900px;
  margin: 30px auto;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 45%;
  height: 200px;
  background-color: rgb(236, 234, 234);
  margin: 10px 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
}
.card a{
  text-decoration: none;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card h2{
  font-size: 25px;
  color:#f1356d;
}
.card p{
  margin: 10px;
  font-size: 18px;
}
.UrgentImportant h3{
  margin-top: 20px;
  color: red;
}
.UrgentNotImportant h3{
  margin-top: 20px;
  color: rgb(133, 133, 5);
}
.NotUrgentImportant h3{
  margin-top: 20px;
  color: blue;
}
.NotUrgentNotImportant h3{
  margin-top: 20px;
  color: green;
}

/* Task-List */
.preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0, 0, 0.1);
}
.preview a{
  text-decoration: none;
}